
.header {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 15px;

    display: flex;
    align-items: center;

    background-color: var(--bg-secondary);
    height: 55px;
}

.header label {
    color: white;
    font-weight: 600;

    margin-right: 5px;
}

.header input {
    height: fit-content;
}