.item {
  display: flex;
  align-items: center;

  border: 2px var(--bg-secondary) solid;
  border-left: 5px var(--bg-secondary) solid;
  margin: 12px;
  padding: 7px;

  overflow: hidden;
}

.item:hover, .item.sortable-chosen {
  cursor: pointer;

  border: 2px var(--bg-selected) solid;
  border-left: 5px var(--bg-selected) solid;
  background-color: rgb(224, 240, 253);
}

.item div,
img {
  margin-left: 20px;
}

.item .rank {
  color: var(--primary);
  font-weight: 600;

}



.item .title a {
    font-weight: 600;
    color: var(--primary);
    text-decoration: none;
}

.item .title a:hover {
    text-decoration: underline;
}

.item .score {
    justify-self: end;
    margin-left: auto;
}