.item {
  display: flex;
  align-items: center;

  border: 2px var(--bg-secondary) solid;
  border-left: 5px var(--bg-secondary) solid;
  margin: 1px;
  padding: 7px;

  background: var(--bg-primary); 
}

.item:hover,
.item.sortable-chosen {
  cursor: pointer;

  background: var(--bg-secondary)
}

.item div,
img {
  margin-left: 20px;
}

.item .rank {
  color: var(--primary);
  font-weight: 600;
}

.item .title a {
  font-weight: 600;
  color: var(--primary);
  text-decoration: none;
}

.item .title a:hover {
  text-decoration: underline;
}

.item .score {
  justify-self: end;
  margin-left: auto;
}

.item:hover div,
.item:hover a {
  color: white;
}

.item.sortable-chosen div,
.item.sortable-chosen a {
  color: white;
}
